<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://source.unsplash.com/ze5wHM9kplc" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "My bookings", bookings_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add Lambos", new_lambo_path(@current_user), class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>

<div class="container　d-flex align-items-center justify-content-center">
  <div class="row">
    <% @lambos.each do |lambo| %>
      <div class="col-sm-12 col-md-6 mb-5">
        <div class="card">
            <% num = 0  %>
            <%= cl_image_tag lambo.photos[0].key, crop: :fill %>
            <%# <% end %>
            <div class="card-infos">
              <div>
                <h2><%= lambo.model %></h2>
                <p class="card-pricing">per day: $<%= lambo.price %></p>
              </div>
              <%= link_to "Check Details", lambo_path(lambo), class: "btn btn-flat" %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
