<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://source.unsplash.com/ze5wHM9kplc" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "My Bookings", bookings_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add Lambos", new_lambo_path(@current_user), class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>

<div class="container m-2">

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: lambos_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control form-control-lg mb-4",
              placeholder: "Type the model or preference"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-flat mb-4" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container d-flex align-items-center justify-content-center">
  <div class="row">
    <% @lambos.each do |lambo| %>
      <div class="col-sm-12 col-md-6 mb-5">
        <div class="card">
            <%= cl_image_tag lambo.photos[0].key, crop: :fill %>
            <div class="card-infos">
              <div>
                <h2><%= lambo.model %></h2>
                <p class="card-pricing">per day: $<%= lambo.price %></p>
              </div>
              <%= link_to "Details", lambo_path(lambo), class: "btn btn-flat" %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="text-center">
  <%= link_to "Back", root_path , class: "btn btn-back" %>
</div>

</div>
