<h1>Lambos List</h1>
<div>
<% @lambos.each do |lambo| %>
  <h3>Lambo#<%= lambo.id %></h3>
  <ul>
  <li>Model: <%= lambo.model %></li>
  <li>Year: <%= lambo.year %></li>
  <li>Price: <%= lambo.price %></li>
  <%= link_to "Details", lambo_path(lambo) %></li>
  </ul>
<% end %>
</div>

<%= link_to "Add new lambo", new_lambo_path(@current_user) %>
<%# need to have @user from session or sign up info %>

<div><%= link_to "Sign out", destroy_user_session_path%></div>
