<h1>New Lambo</h1>
<%= simple_form_for [@lambo] do |f| %>
  <%= f.input :model %>
  <%= f.input :year %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
